@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@font-face {
  font-family: "LexendDeca";
  src: url("./fonts/LexendDeca-VariableFont_wght.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Prompt";
  src: url("./fonts/Prompt-Light.ttf");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: "Kanit-Light";
  src: url("./fonts/Kanit-Light.ttf");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansThai";
  src: url("./fonts/NotoSansThai-VariableFont_wdth,wght.ttf");
  font-weight: normal;
  font-style: normal;
}

.rounded-button {
  border-radius: 20px; /* ปรับความโค้งของปุ่ม */
}

.custom-font {
  font-family: 'Kanit', sans-serif; /* ตัวอย่างฟอนต์จาก Google Fonts */
  font-size: 18px;
}
